@import "../../index.scss";

.products_category{
    position: fixed;
    width: 100vw;
    z-index: 66;
}

.products_page {
    background-color: $light-blue;
    height: 145vh;
   
    .container-product{
        width: 950px;
        margin: auto;
        padding-top: 220px;
    }
}