@import "../../index.scss";

.cart-momo {
    position: absolute;
    top: 94px;
    right: 20px;
    z-index: 9999;
    background-color: $orange;
    color: $white;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    border: 1px solid $orange;
    font-size: 18px;
    border-radius: 20px;

    span {
        margin: 0px 5px;
    }

    .icon-cart {
        background-image: url(./../../assets/icons/carrito-icon.svg);
        background-size: cover;
        width: 30px;
        height: 30px;
    }

    &:hover {
        cursor: pointer;
    }
}

.cart {
    position: fixed;
    z-index: 9999999;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #FFFFFF;
    padding: 0px 15px 0px 10px;

    .left {
        .container-list-product {
            overflow-y: auto;
            overflow-x: hidden;
            height: 72vh;
            width: 340px;
        }

        .resume {
            display: flex;
            justify-content: space-between;

            .x {
                border: none;
                width: 44px;
                height: 44px;
                background-image: url("../../assets/icons/close.svg");
                mask-size: 100%;
                margin-right: 10px;
                margin-top: 10px;

                &:hover {
                    cursor: pointer;
                }

            }
        }

        .order-resume {
            margin-top: 10px;
            padding: 10px;

        }
    }


    .product-quantity {
        font-family: "Red Hat Display";
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        color: $gray-text;
        padding: 5px;

    }

    .right {
        position: fixed;
        padding: 10px;

        .subtotal {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;

            .subtotal-tex {
                font-size: 16px;
            }

            .subtotal-price {
                font-size: 16px;
            }
        }

        .pay {
            background: $orange;
            color: $white;
            font-size: 18px;
            border: 1px solid $orange;
            width: 320px;
            height: 40px;
            display: block;
            text-align: center;
            border-radius: 12px;

            &:hover {
                cursor: pointer;
                background: #fb4b05;
            }
        }
    }

}

.separator {
    width: 390px;
    margin: 12px 0px;
    border-bottom: 0.5px solid #C4C4C5;
}