@import "../../index.scss";

.cart-momo {
    position: absolute;
    top: 105px;
    right: 20px;
    z-index: 9999;
    background-color: $orange;
    color: $white;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    border: 1px solid $orange;
    font-size: 18px;
    border-radius: 20px;

    @media(min-width: 570px) {
        font-size: 12px;
        width: 110px;
        right: 12px;
    }

    @media(min-width: 970px) {
        font-size: 14px;
        width: 135px;
        right: 20px;
    }

    @media(min-width: 1170px) {
        font-size: 16px;
        width: 145px;
        right: 12px;
    }

    span {
        margin: 0px 5px;
    }

    .icon-cart {
        background-image: url(./../../assets/icons/carrito-icon.svg);
        background-size: cover;
        width: 30px;
        height: 30px;

        @media(min-width: 570px) {
            width: 20px;
            height: 20px;
        }

        @media(min-width: 970px) {
            width: 25px;
            height: 25px;
        }
    }

    &:hover {
        background: #e34317;
        cursor: pointer;
    }

}

.cart {
    position: fixed;
    z-index: 9999999;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #FFFFFF;
    padding: 0px 15px 0px 10px;

    .left {
        .container-list-product {
            overflow-y: auto;
            overflow-x: hidden;
            height: 65vh;
            width: 340px;
            scrollbar-width: none;

        }

        .resume {
            display: flex;
            justify-content: space-between;
            margin: 0px 0px 30px 0px;

            .x {
                border: none;
                width: 44px;
                height: 44px;
                background-image: url("../../assets/icons/close.svg");
                mask-size: 100%;
                margin-right: 10px;
                margin-top: 10px;
                border-radius: 20px;

                &:hover {
                    cursor: pointer;
                }

            }
        }

        .order-resume {
            margin-top: 10px;
        }
    }


    .product-quantity {
        font-family: "Red Hat Display";
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        color: $gray-text;
        display: flex;
    }

    .right {
        position: fixed;
        padding: 10px;

        .subtotal {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;
            background: $grey;
            padding: 24px;
            margin: 20px 0px 0px 0px;

            .subtotal-tex {
                font-family: "Red Hat Display", "serif";
                font-size: 16px;
            }

            .subtotal-price {
                font-family: "Red Hat Display", "serif";
                font-weight: 700;
                font-size: 24px;
                font-size: 16px;
            }
        }

        .pay {
            background: $orange;
            color: $white;
            font-size: 18px;
            border: 1px solid $orange;
            width: 320px;
            height: 40px;
            display: block;
            text-align: center;
            border-radius: 12px;

            &:hover {
                cursor: pointer;
                background: #fb4b05;
            }
        }
    }

}