.modal-container {
    .shadow-effect {
        position: fixed;
        background: #4d4d4d6b;
        height: 100vh;
        width: 100%;
        z-index: 999;
        left: 0px;
        top: 0px;
    }

    .modal {
        position: fixed;
        width: 720px;
        height: 511px;
        background: #D5EAFB;
        border-radius: 16px;
        margin: auto;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 999;

        @media(max-width: 1050px){
            width: 90%;
        }

        .container {
            display: flex;
            flex-direction: column;

            margin-top: 130px;
            margin-bottom: 130px;

            .img {
                width: 228px;
                margin: 0 auto;
                padding-bottom: 21px;

            }

            .text {
                color: #000;
                margin: 0 auto;
                font-family: "Red Hat Display";
                font-size: 20px;
                font-weight: 700;
            }

            .sub-text {
                margin: 0 auto;
                width: 194px;
                text-align: center;
                // height: 42px;
                font-weight: 600;
                font-size: 16px;
                font-family: "Red Hat Display", "serif";
            }

        }
    }
}