@import "../../index.scss";

.head {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: $dark-blue;
    width: 100%;
    height: 85px;
    border-bottom: 1px solid $cream;


    .column_start {
        width: 250px;

        .back {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            .back-icon {
                width: 27px;
            }

            .text {
                font-family: "Red Hat Display", sans-serif;
                font-weight: 700;
                font-size: 28px;
                color: $cream;
            }
        }
    }

    .column_center {
        width: auto;
        display: flex;
        justify-content: center;

        .logo {
            width: 130px;
        }
    }

    .column_end {
        width: 250px;
        display: flex;
        padding: 10px;

        .welcome-text {
            width: 146px;
            color: $cream;

            .welcome {
                font-weight: 700;

            }

            .name {
                font-family: "Stacion", sans-serif;
                font-size: 18px;
                font-weight: 300;
            }
        }

        .profile-pic {
            width: 50px;
            height: 50px;
            border-radius: 33px;
            -webkit-border-radius: 33px;
            -moz-border-radius: 33px;
            -ms-border-radius: 33px;
            -o-border-radius: 33px;
        }
    }
}