@import "../../index.scss";

.head {
    display: flex;
    justify-content: space-between;
    background-color: #2E418E;

    .column_start {
        width: 250px;
    }

    .column_center {
        width: auto;
        display: flex;
        justify-content: center;
    }

    .column_end {
        width: 250px;
        display: flex;
        padding: 10px;

        .welcome-text {
            width: 150px;
            color: $cream;

            .welcome {
                &.small-text {
                    font-size: 20px;
                }

                &.medium-text {
                    font-size: 24px;
                }

                &.large-text {
                    font-size: 26px;
                }

            }

            .store {
                &.small-text {
                    font-size: 16px;
                }

                &.medium-text {
                    font-size: 18px;
                }

                &.large-text {
                    font-size: 20px
                }

            }
        }
    }

    .logo {
        width: 130px;
        height: 49.23px;
        margin: auto;
        display: block;

    }

    .welcome {
        width: 146px;
        height: 22px;
        font-family: "Red Hat Display", serif;
        font-size: 22px;
        font-weight: 700;
        text-align: left;
        margin: 0 50px 5px 0;
        color: $cream
    }

    .store {
        font-size: 16px;
        text-align: left;
        margin: 0;

    }

    .profile-pic {
        width: 50px;
        height: 50px;
        border-radius: 33px;
        -webkit-border-radius: 33px;
        -moz-border-radius: 33px;
        -ms-border-radius: 33px;
        -o-border-radius: 33px;

    }
}