@import "../../index.scss";

.products_category {
    position: fixed;
    width: 100%;
    z-index: 66;
   
}

.page-container {
    padding-top: 160px;
    overflow: hidden;
    position: relative;
    width: 100vw;

    .container-options-product {
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .drink_detail {
        display: flex;
        justify-content: space-around;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: 100vh;
        background-color: $light-blue;
        padding-top: 30px;
    }
    .details {
        position: relative;
        width: 731px;
        background: $dark-blue;
        border-radius: 16px;
    }
}

.separator {
    width: 85%;
    margin: 10px auto;
}



.text {
    color: $cream;
    padding: 10px;

    .text {

        .recicle-icon {
            padding-left: 12px;
        }

        .recicle-text {
            font-family: Stacion;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            align-items: center;
            width: 230px;
        }
    }
}



.icon {
    width: 48px;
    height: 48px;
}

.complement {
    height: 255px;
}

.complement_title {
    padding-left: 30px;
}

.cards {
    display: flex;
    margin: 10px 10px 10px 8px;

}

.recicle {
    margin: 0 5px;
}

.food_detail{
    position: relative;
}

.container-btn-payment{
    text-align: center;
    .add-cart-btn{
        background-color: $orange;
        color: #FFFFFF;
        padding: 15px 0px;
        width: 276px;
        border: 1px solid $orange;
        font-size: 18px;
        border-radius: 50px;
        margin: 20px 0px;
        &:hover {
            cursor: pointer;
            background: #e34317;
          }
    }
}