.padding {
    padding: 20px 0 0 15px;

}

.padding-content{
    padding: 0px 20px 0px 0px;
}

.pr-38 {
    padding-right: 38px;
}

.margin {
    margin: 0 auto;
    padding-bottom: 21px;
}

.max-content{
    max-width: 1550px;
    margin: auto;
}


@media screen and (max-width: 1240px) {}