@import "../../index.scss";

.product_card_description {
    width: 271px;
    height: 396px;

    .img {
        width: 270px;
        height: 270px;
        border-radius: 12px;
        box-shadow: 0px 3.9870967864990234px 15.948387145996094px 0px #00000033;


    }

    .product-name {
        color: $dark-blue;
    }

    .description {
        font-size: 18px;
        font-weight: 700;
    }
}