@import "../../index.scss";

.login_client_page {
    background: $dark-blue;
    display: flex;
    height: 100vh;
    overflow: hidden;

    .left {
        width: 60%;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media screen and (max-width: 790px) {
                display: none;
            }
        }
    }

    .logo-business {
        width: 188px;
        display: block;
        text-align: center;
        margin: 0px auto;
    }


    .center-container {
        display: flex;
        justify-content: center;

        .container {
            .text-align-back {
                text-align: center;
                background: transparent;
                border: 0px;
                position: absolute;
                right: 20px;
                bottom: 20px;
            
            }

            .back {
                width: 250px;
                height: 50px;
                border-radius: 129px;
                border: 2px solid $cream;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }

                .back-icon {
                    width: 35px;
                    height: 40px;
                }

                .text {
                    width: 145px;
                    height: 40px;
                    font-weight: 700;
                    font-size: 30px;
                    font-family: "Red Hat Display", "serif";
                    padding: 0;
                    color: $cream;
                }
            }
        }
    }


    .column-right {
        margin: 40px auto;
        width: 100%;
        height: 90vh;
        overflow-y: auto;

        @media screen and (max-width: 790px) {
            margin: auto;
        }

        .text {
            .h2 {
                color: $cream;
                display: flex;
                justify-content: center;
                margin: 5px auto;
                font-size: 34px;
            }

            .parrafo-subtitulo {
                color: $cream;
                text-align: center;
                display: block;
                font-family: 'Stacion';
                font-weight: 300;
                font-size: 26px;
                font-style: normal;
                margin: 20px auto;
                width: 544px;
                line-height: 0;
                padding-bottom: 30px;

            }
        }
    }

    .register-options {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .custom-btn {
            display: flex;
            flex-direction: column;
            min-width: 630px;
            height: 130px;
            align-items: center;
            padding: 10px 15px;
            border: 2px solid $cream;
            border-radius: 10px;
            background-color: transparent;
            color: $cream;
            text-align: center;


            &:hover {
                /* Move hover to the top level */
                background-color: $dark-blue;
                cursor: pointer;

                .icon {
                    background-color: $dark-blue;
                }
            }

            &:hover {
                color: $dark-blue;
                background: $dark-blue;
                background-color: $cream;
                border: $dark-blue;
            }
        }

        .phone .icon {
            background-color: $cream;
            -webkit-mask-image: url("/src/assets/icons/phone.svg");
            mask-image: url("/src/assets/icons/phone.svg");
            mask-size: 100%;
            background-repeat: no-repeat;
            margin-bottom: 8px;
        }


        .mail .icon {
            background-color: $cream;
            -webkit-mask-image: url("/src/assets/icons/mail.svg");
            mask-image: url("/src/assets/icons/mail.svg");
            mask-size: 100%;
            background-repeat: no-repeat;
            margin-bottom: 8px;


            &:hover {
                background-color: $dark-blue;
            }


        }

        .custom-btn .icon {
            width: 45px;
            height: 45px;
            margin-bottom: 16px;
            margin-top: 10px;
        }

        .custom-btn .text {
            width: 100%;
            margin-left: 5px;
            font-family: "Red Hat Display",
                "serif";
            font-weight: 700;
            font-size: 26px;

            &:hover {
                color: $dark-blue;
            }
        }
    }

    .phone-option {
        display: flex;
        flex-direction: column;

        .input {
            display: flex;
            justify-content: center;
            gap: 26px;

            .country_id,
            .phone {
                height: 79px;
                background: transparent;
                border: 2px solid $cream;
                border-radius: 5px;
            }

            .country_id {
                font-family: "Red Hat Display";
                font-size: 26px;
                font-weight: 700;
                text-align: left;
                color: $cream;
                padding: 10px 15px;

                option {
                    background-color: $dark-blue;
                }

                &::placeholder {
                    color: $cream;
                }
            }

            .phone {
                padding: 10px 15px;
                font-family: "Red Hat Display";
                font-size: 26px;
                font-weight: 700;
                text-align: left;
                color: $cream;

                &::placeholder {
                    color: $cream;
                }
            }
        }




    }

    .email-option {
        .input {
            display: flex;
            justify-content: center;

            .email {
                width: 500px;
                padding: 20px 20px;
                font-family: "Red Hat Display";
                border: 2px solid $cream;
                color: $cream;
                font-size: 26px;
                font-weight: 700;
                text-align: left;
                background: transparent;
                border-radius: 5px;

                &::placeholder {
                    color: $cream;
                }
            }
        }
    }
}

.parrafo-subtitulo {
    color: $cream;
    text-align: center;
    display: block;
    font-family: 'Stacion';
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
    margin: 20px auto;
    width: 544px;
    padding-bottom: 30px;
}

.login-btn {
    display: block;
    border: none;
    border-radius: 32px;
    color: $cream;
    background: $orange;
    font-family: "Red Hat Display";
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    width: 300px;

    &:hover {
        cursor: pointer;
    }
}