@import "../../index.scss";
.category-product-drink{
    position: fixed;
    width: 100%;
    z-index: 99
}

.page-container {
    width: 100vw;
    position: relative;
    .other_drinks_detail {
        width: 100%;
        height: 110vh;
        background-color: $light-blue;
        display: flex;
        justify-content: space-around;
        padding-top: 210px;

        .details {
            width: 731px;
            background: $dark-blue;
            border-radius: 16px;
            padding: 10px 0px;
        
            .btn-container {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 10px 0px;
                text-align: center;
                .add-cart-btn {
                    background-color: $orange;
                    color: $cream;
                    border: none;
                    border-radius: 16px;
                    width: 300px;
                    height: 46px;
                    font-family: "Red Hat Display";
                    font-weight: 700;
                    font-size: 20px;
                    margin: 10px auto;
                    &:hover {
                        cursor: pointer;
                        background: #e34317;
                      }
                }
            }
        }
    }

}

.separator {
    width: 85%;
    margin: 0 auto;
}



.text {
    color: $cream;
    padding: 10px;

    .text {

        .recicle-icon {
            padding-left: 12px;
        }

        .recicle-text {
            font-family: Stacion;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            align-items: center;
            width: 230px;
        }
    }
}


.extra {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: center;
    font-family: "Red Hat Display";
    font-weight: 700;
    color: $cream;

    .checkbox {
        width: 21px;
        height: 21px;
    }

    .extra-options {
        padding-left: 310px;

        .extra {
            margin: 24px;

        }


    }

    .lid-options {
        padding-left: 90px;

        .extra {
            margin: 24px;
        }
    }
}

.icon {
    width: 48px;
    height: 48px;
}

.complement {
    height: 255px;
}

.complement_title {
    padding-left: 60px;
}

.cards {
    display: flex;
    margin: 10px 10px 10px 8px;

}

.recicle {
    margin: 0 5px;
}