@import "../../index.scss";

.success_fully {
    height: 100vh;

    .container {
        background: $dark-blue;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .center {
            width: 678px;

            .logo {
                width: 250px;
                display: block;
                margin: 0 auto;
                margin-bottom: 30px;

            }

            .name {
                font-weight: 700;
                text-align: center;
                width: 100%;
                height: 40px;
                font-size: 32px;
                display: block;
                margin: 15px auto;
                color: $white ;
            }

            .clock {
                width: 172px;
                display: block;
                margin: auto;
            }

            .text {
                width: 488px;
                color: $white ;
                font-weight: 300;
                font-size: 22px;
                font-family: "Stacion", sans-serif;
                text-align: center;
                margin: 0 auto;


            }

            .btns {
                display: flex;
                align-items: center;
                margin: 15px;
                gap: 25px;

                .shop,
                .exit {
                    width: 320px;
                    height: 50px;
                    font-family: "Red Hat Display", serif;
                    font-size: 22px;
                    font-weight: 700;
                    text-align: center;
                    border: none;
                    border-radius: 32px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .shop {
                    background: $orange;
                    color: $dark-blue;
                    border: 1px solid $dark-blue;
                    color: $white;
                }

                .exit {
                    background: transparent;
                    color: $cream;
                    border: 2px solid $light-blue;
                }
            }

            .client {
                width: 488px;
                margin: 0 auto;

                .form-group {
                    padding-top: 20px;

                    .name {
                        background: transparent;
                        border: $white 1px solid;
                        margin: 8px 0px;
                        height: 40px;
                        padding: 10px;
                        color: $white;
                        padding: 22px 10px;
                        margin: 0 auto;
                        font-size: 26px;
                        text-align: left;
                        border-radius: 4px;
                        padding-left: 40px;


                        &::placeholder {
                            color: $white;
                            text-align: left;
                        }
                    }

                    .icon-user {
                        background-image: url(./../../assets/icons/user.svg);
                        background-size: cover;
                        width: 25px;
                        height: 25px;
                        display: block;
                        position: relative;
                        bottom: 38px;
                        left: 10px;
                    }
                }


            }


        }
    }



    @media only screen and (max-width: 600px) {
        .center {
            width: 100%;

        }

    }

    @media only screen and (max-width: 430px) {
        .center {
            width: calc(100vw - 20px);
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

}