@import "../../index.scss";

.product_card {
    width: 270px;
    height: 350px;

    .img {
        border-radius: 12px 12px 0 0;

        width: 100%;
    }

    .price {
        width: 270px;
        height: 39px;
        background: $dark-blue;
        border-radius: 4px 4px 12px 12px;


        span {
            font-family: "Stacion", serif;
            font-weight: 300;
            font-size: 21px;
            color: $cream;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    .name {
        font-weight: 700;
        font-size: 24px;
        color: $dark-blue;
    }
}