@import "../../../index.scss";

.modal-container {
    .shadow-effect {
        position: fixed;
        background: #4d4d4d6b;
        height: 100vh;
        width: 100%;
        z-index: 999;
        left: 0px;
        top: 0px;
    }

    .modal {
        position: fixed;
        width: 1062px;
        height: 700px;
        background: #D5EAFB;
        border-radius: 16px;
        margin: auto;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 999;

        .container {
            display: flex;
            flex-direction: column;

            margin-top: 31px;
            margin-bottom: 130px;

            .img {
                width: 168px;
                margin: 0 auto;
                padding-bottom: 21px;

            }

            .text {
                color: #000;
                margin: 0 auto;
                font-family: "Red Hat Display";
                font-size: 24px;
                font-weight: 700;
                padding-bottom: 20px;
            }

            .sub-text {
                margin: 0 auto;
                width: 100%;
                font-family: Stacion;
                font-size: 26px;
                font-weight: 300;
                text-align: center;
                color: $dark-blue;


            }

            .ol {
                margin: 0 auto;
                width: 100%;
                font-family: Stacion;
                font-size: 26px;
                font-weight: 300;
                text-align: center;
                color: $dark-blue;
                line-height: 25px;
            }

            .continue {

                width: 200px;
                height: 46px;
                background-color: $orange;
                color: $white;
                margin: 20px auto;
                border-radius: 32px;
                border: none;
                font-family: " Red Hat Display", sans-serif;
                font-size: 20px;
                font-weight: 700;
                text-align: center;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}