@import "../../index.scss";

.register_page_momo {
    background: $dark-blue;
    display: flex;
    height: 100vh;
    overflow: hidden;

    .left {
        width: 60%;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media screen and (max-width: 790px) {
                display: none;
            }
        }
    }


    .logo-business {
        width: 220px;
        display: block;
        text-align: center;
        margin: 10px auto;

    }


    .center-container {
        display: flex;
        justify-content: center;
    }


    .column-right {
        margin: 40px auto;
        width: 100%;

        @media screen and (max-width: 790px) {
            margin: auto;
        }

        .text {
            .h2 {
                color: $cream;
                display: flex;
                justify-content: center;
                margin: 5px auto;
                font-size: 28px;
            }

            .parrafo-subtitulo {
                color: $cream;
                text-align: center;
                display: block;
                font-family: 'Stacion';
                font-weight: 300;
                font-size: 24px;
                font-style: normal;
                text-align: center;
                width: 430px;
                height: 60px;
                margin: 10px auto;
            }


        }
    }

    .register-options {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .custom-btn {
            display: flex;
            flex-direction: column;
            min-width: 630px;
            height: 125px;
            align-items: center;
            padding: 10px 15px;
            border: 2px solid $cream;
            border-radius: 10px;
            background-color: transparent;
            color: $cream;
            text-align: center;
    
            &:hover {
                /* Move hover to the top level */
                background-color: $dark-blue;
                cursor: pointer;

                .icon {
                    /* Target icon directly */
                    background-color: $dark-blue;
                    /* Change icon background on hover */
                }
            }

            &:hover {
                color: $dark-blue;
                background: $dark-blue;
                background-color: $cream;
                border: $dark-blue;
            }
        }

        .registered .icon {
            mask-size: cover;
            background-color: $cream;
            -webkit-mask-image: url("/src/assets/icons/user.svg");
            mask-image: url("/src/assets/icons/user.svg");
            background-repeat: no-repeat;
        
        }

        .create .icon {
            background-color: $cream;
            -webkit-mask-image: url("/src/assets/icons/user-square.svg");
            mask-image: url("/src/assets/icons/user-square.svg");
            mask-size: cover;
            background-repeat: no-repeat;
          

        }

        .no-register .icon {
            background-color: $cream;
            -webkit-mask-image: url("/src/assets/icons/user-octagon.svg");
            mask-image: url("/src/assets/icons/user-octagon.svg");
            mask-size: cover;
            background-repeat: no-repeat;
       

            &:hover {
                background-color: $dark-blue;
            }

        }

        .custom-btn .icon {
            width: 40px;
            height: 40px;
        }

        .custom-btn .text {
            width: 100%;
            margin-left: 5px;
            font-family: "Red Hat Display",
                "serif";
            font-weight: 700;
            font-size: 28px;

            &:hover {
                color: $dark-blue;
            }
        }
    }
}