@import "../../index.scss";

.cat_nav {
    background: $dark-blue;
    width: 100%;
    position: fixed;
    top: 82px;
    display: flex;

    .categories {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-bottom: 10px;
        margin-left: -20px;
        .category {
            border: 0;

            button {
                width: 100px;
                border: 2px solid $cream;
                border-radius: 10px;
                height: 75px;
                background-color: transparent;
                color: $cream;
                font-family: "Stacion";
                font-weight: 400;
                font-size: 18px;

                &:hover {
                    cursor: pointer;
                    background: $cream;
                    color: $dark-blue ;
                }
            }
        }
    }
}