@import "../../index.scss";

.card {
    background: $cream;
    border-radius: 10px;
    width: 200px;
    height: 160px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 15px 0px #00000033;



    .container {
        display: block;
        text-align: center;
    }

    .text-add {
        p {
            color: #79be81;
            font-weight: 700;
            text-align: center;
            margin: 0px;
        }
    }

    .icon {
        padding-top: 15px;
        width: 45px;
    }


    .text_active_card {
        color: $dark-blue;
        text-align: center;
        margin: 10px 0px 15px 0px;

        .text {
            font-weight: 800;
            text-align: center;
            margin: 0px;
            font-size: 26px;
            color: $dark-blue;
        }

        .subtext {
            font-weight: 800;
            text-align: center;
            margin: 0px;
            font-size: 26px;
            color: $dark-blue;
        }

        .state {
            font-family: "Stacion", sans-serif;
            font-weight: 300;
            font-style: italic;
            text-align: center;
            font-size: 22px;
            margin: 0px;


        }
    }

}