.create-account-page{
    .section-resgister{
        width: 400px;
        margin: auto;
        text-align: center;
    }
    .section-form{
        display: block;
        .input{
            width: 100%;
        }
    }
}