@import "../../index.scss";

.alert-error {
    font-family: 'Stacion';
    font-weight: normal;
    background: $orange;
    color: #fff;
    border-radius: 4px;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    width: 320px;
    font-size: 14px;
    margin: auto auto 5px auto;
}

.create-account-page {
    height: 120vh;
    background-color: $dark-blue;

    .logo-business {
        width: 220px;
        margin: 10px 0px;
        margin-top: 50px;
    }

    .title {
        color: $white;
    }

    .subTitle {
        color: $white;
    }

    .form {
        margin-top: 10px;
    }

    .form-group {
        position: relative;
    }

    .icon-user {
        background-image: url(/assets/icons/user.svg);
        background-size: cover;
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
    }

    .icon-phone {
        background-image: url(/assets/icons/call_white.svg);
        background-size: cover;
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
    }

    .icon-email {
        background-image: url(/assets/icons/mail.svg);
        background-size: cover;
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
    }

    .select {
        width: 95px;
        padding: 8px 15px;
        background: transparent;
        border: 1px $white solid;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 300;
        color: $white;
        margin: 8px 0px;
        font-size: 24px;

        option {
            background: $dark-blue;
        }
    }

    .section-resgister {
        width: 530px;
        margin: auto;
        text-align: center;
    }

    .section-form {
        display: block;
        width: 400px;
        margin: auto;

        .input {
            width: 100%;
            font-size: 18px;
            font-weight: 500;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    }

    .input {
        background: transparent;
        border: $white 1px solid;
        margin: 8px 0px;
        height: 40px;
        padding: 10px;
        font-size: 28px;
        color: $white;
        padding: 22px 10px;
        font-size: 18px;
        border-radius: 4px;
        padding-left: 45px;

        &::placeholder {
            color: $white
        }
    }

    .term-condition {
        display: flex;
        margin: 10px 0px;
        font-family: "Red Hat Display", sans-serif;
        color: $white;
        margin: 20px 0px;
        padding-right: 10px;


        .link_term {
            background: transparent;
            border: 0px;
            color: $white ;
            font-size: 16px;
            font-family: Stacion;
            font-weight: 400;
            line-height: 19.8px;
            text-align: left;
            padding-left: 10px;
            text-decoration: underline;

            &:hover {
                cursor: pointer;
            }

        }

    }

    .btn-cancelar {
        background: transparent;
        color: $white;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        width: 253px;
        height: 50px;
        font-weight: 600;
        font-size: 18px;
        border: 1px $white solid;
        margin: 0px 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    .btn-register {
        background: $orange;
        color: $white;
        padding: 10px;
        text-align: center;
        width: 253px;
        height: 50px;
        border: 1px solid $orange;
        border-radius: 20px;
        font-family: "Stacion";
        font-weight: 600;
        font-size: 18px;
        margin: 0px 5px;

        &:hover {
            background-color: #de470b;
            cursor: pointer;
        }
    }
}