@import "../../index.scss";
.alert-error{
    font-family: 'Stacion';
    font-weight: normal;
    background: $orange;
    color: #fff;
    border-radius: 4px;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    width: 290px;
    margin: auto auto 10px auto;
}
.create-account-page{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-blue;

    .logo-business{
        width: 220px;
        margin: 10px 0px;
    }

    .title{
        color: $white;
    }

    .subTitle{
        color: $white;
    }

    .form{
        margin-top: 20px;
    }

    .form-group{
        position: relative;
    }
    .select{
        width: 95px;
        padding: 10px 15px;
        background: transparent;
        border: 1px $white solid;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 500;
        color: $white;
        margin: 8.4px 0px;
    }

    .section-resgister{
        width: 530px;
        margin: auto;
        text-align: center;
    }

    .section-form{
        display: block;
        width: 400px;
        margin: auto;
        .input{
            width: 100%;
        }
    }

    .input{
        background: transparent;
        border: $white 1px solid;
        margin: 8px 0px;
        height: 40px;
        padding: 10px;
        font-size: 18px;
        color: $white;
        padding: 22px 10px;
        font-size: 18px;
        border-radius: 4px;
        &::placeholder{
            color: $white
        }
    }

    .term-condition{
        display: flex;
        margin: 10px 0px;
        font-family: "Red Hat Display", sans-serif;
        color: $white;
        margin: 10px 0px;
        font-size: 18px;
        .link_term{
            color: $white ;
            font-size: 14px;

        }
        
    }

    .btn-cancelar{
        background: transparent;
        color: $white;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        width: 253px;
        font-weight: 600;
        font-size: 18px;
        border: 1px $white solid;
        margin: 0px 5px;
        &:hover{
            cursor: pointer;
        }
    }

    .btn-register{
        background: $orange;
        color: $white;
        padding: 10px;
        text-align: center;
        width: 253px;
        border: 1px solid $orange;
        border-radius: 20px;
        font-family: "Stacion";
        font-weight: 600;
        font-size: 18px;
        margin: 0px 5px;
        &:hover{
            background-color: #de470b;
            cursor: pointer;
        }
    }
}