@import "../../index.scss";

.checkout_card {
    padding: 5px;

    .left-column {
        text-align: center;
        padding: 0;

        .product-image {
            padding-top: 10px;
            width: 89px;
            border-radius: 11px;
            object-fit: contain;
        }



        .product-quantity {
            width: 52px;
            color: $dark-blue ;
            background: $light-blue;
            font-family: "Red Hat Display", serif;
            font-size: 16px;
            font-weight: 800;
            text-align: center;
            margin: auto;

        }
    }

    .right-column {
        padding: 0;

        .title {
            position: relative;
            padding-top: 10px;
            width: 218px;
            height: 48px;
            color: $black !important;
            font-size: 18px;
            margin: 0px 0px 15px 0px;
        }

        .sub-parrafo {
            color: $dark-blue;
            font-size: 14px;
        }

        .details {
            width: 100%;
            display: block;
            padding-top: 10px;
            color: $black;
            font-family: "Stacion", sans-serif;
            font-size: 15px;
            padding: 20px 0px;
            list-style: none;
            padding: 0px 0px 10px 0px;
            font-weight: 500;

            .extra-price {
                width: 40px;
                font-family: "Stacion", sans-serif;
            }

            td {
                width: 220px;
            }

        }

        .end {
            justify-content: end;
            display: flex;

            .subtotal {
                font-family: "Red Hat Display";
                font-size: 24px;
                font-weight: 800;
                color: black;
            }
        }
    }
}