@import "../../index.scss";

.checkout_card {
    padding: 10px 0px 20px 0px;

    .left-column {
        text-align: center;
        padding: 0;

        .product-image {
            margin-top: 10px;
            width: 89px;
            border-radius: 11px;
            object-fit: cover;
            @media(max-width: 1045px){
                width: 80px;
                height: 80px;
            }
        }
        .product-quantity {
            width: 52px;
            color: $dark-blue ;
            background: $light-blue;
            font-family: "Red Hat Display", serif;
            font-size: 16px;
            font-weight: 800;
            text-align: center;
            margin: auto;

        }
    }

    .right-column {
        padding: 0;

        .title {
            position: relative;
            padding-top: 10px;
            width: 178px;
            height: 48px;
            color: $black !important;
            font-size: 18px;
            line-height: 20px;
            margin: 0px 0px 10px 0px;
            @media(max-width: 1045px) {
                font-size: 16px;
                width: 130px;
            }
        }

        .sub-parrafo {
            color: $dark-blue;
            font-size: 14px;
            max-width: 200px;
        }

        .details {
            width: 100%;
            max-width: 240px;
            display: block;
            color: $black;
            font-family: "Stacion", sans-serif;
            font-size: 15px;
            padding: 20px 0px;
            list-style: none;
            padding: 0px 0px 10px 0px;
            font-weight: 500;

            .list-description{
                width: 190px;
                margin: 4px 0px;
                display: block;
                font-size: 14px;
                @media(max-width: 1290px){
                    width: 160px;
                }

                @media(max-width: 1160px){
                    width: 140px;
                }

                @media(max-width: 1045px){
                    width: 120px;
                    font-size: 12px;
                }

                @media(max-width: 945px){
                    width: 100px;
                }
            }

            .list-price{
                width: 35px;
                font-size: 14px;
                @media(max-width: 1045px){
                    font-size: 12px;
                }
            }

            .recicle-icon {
                width: 15px;
              }

            .extra-price {
                width: 40px;
                font-family: "Stacion", sans-serif;
            }

            td {
                width: 220px;
            }

        }

        .end {
            justify-content: end;
            display: flex;
            max-width: 220px;

            .subtotal {
                font-family: "Red Hat Display";
                font-size: 24px;
                font-weight: 800;
                color: black;
            }
        }
    }
}