@import "../../index.scss";

.category-fixed {
  position: fixed;
  width: 100%;
  max-width: 1395px;
  z-index: 66;
}

.checkout_background {
  background-color: $light-blue;
  height: 120vh;
  padding-top: 190px;

  .checkout_container {
    padding: 10px;
    margin: auto;
    max-width: 1450px;

    img {
      width: 100%;
    }

    .tip {
      background-color: $dark-blue;
      border-radius: 12px;
      color: $cream;
      padding: 10px;
      max-height: 450px;
      overflow-y: auto;
      overflow-x: hidden;
      @media (min-width: 1050px) {
        max-height: 520px;
      }

      h2 {
        font-size: 22px;
        width: 90%;
      }

      .tip-text {
        padding: 20px 0px;

        .tip-icon {
          display: flex;
          width: 26px;
          height: 26px;
          background-color: $cream;
          -webkit-mask-image: url(/assets/icons/dollar-circle.svg);
          mask-image: url(/assets/icons/dollar-circle.svg);
          mask-size: 100%;
        }
      }

      .tip-subtext {
        display: flex;
        align-items: center;
        justify-content: left;
        font-family: "Red Hat Display";
        gap: 10px;
        margin: 80px 0px 0px 0px;
        @media (max-width: 1375px) {
          margin: 40px 0px 0px 0px;
        }

        @media (max-width: 1250px) {
          margin: 30px 0px 0px 0px;
        }
      }

      .tip-options {
        display: flex;
        margin: auto;
        max-width: 490px;

        .tip-button {
          width: 95%;
          min-height: 60px;
          background: $light-blue;
          border: none;
          margin: 5px;
          border-radius: 10px;
          font-family: "Red Hat Display";
          font-size: 16px;
          font-weight: 700;
          text-align: left;
          color: $dark-blue;
          display: flex;
          justify-content: space-around;
          align-items: center;

          &.active {
            color: $white;
            background-color: $orange;
            .dolar-icon {
              background-image: url("/assets/icons/dollar-circle.svg");
              right: 1px;
              position: relative;
            }
          }

          &:hover {
            cursor: pointer;
          }

          .dolar-icon {
            background-image: url("/assets/icons/dollar-circle-blue.svg");
            width: 20px;
            height: 20px;
            display: block;
            background-size: contain;
            margin-top: 28px;
          }

          .middle {
            width: 120px;
            line-height: 14px;
          }

          .percentange {
            font-family: "Red Hat Display";
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            padding: 0 10px 0px 10px;
          }
        }
      }
    }

    .tip-button_two {
      width: 60%;
      min-height: 60px;
      background: $light-blue;
      border: none;
      margin: 5px auto;
      border-radius: 10px;
      font-family: "Red Hat Display";
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      color: $dark-blue;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &.active {
        color: $white;
        background-color: $orange;
        .dolar-icon {
          background-image: url("/assets/icons/dollar-circle.svg");
          right: 1px;
          position: relative;
        }
      }

      &:hover {
        cursor: pointer;
      }

      .dolar-icon {
        background-image: url("/assets/icons/dollar-circle-blue.svg");
        width: 20px;
        height: 20px;
        display: block;
        background-size: contain;
        margin-top: 28px;
      }

      .middle {
        width: 120px;
        line-height: 14px;
      }

      .percentange {
        font-family: "Red Hat Display";
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        padding: 0 10px 0px 10px;
      }
    }

    .pay-info {
      display: flex;
      flex-direction: column;
      width: 320px;
      align-items: center;
      margin: 0 auto;

      .form-group {
        width: 100%;
        position: relative;

        .client-name {
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
          height: 36px;
          padding: 20px;
          padding-left: 30px;
          font-size: 18px;
          border-radius: 4px;
          border: 0px;

          &::placeholder {
            color: $black;
          }
        }

        .icon-user {
          width: 22px;
          height: 22px;
          z-index: 7;
          top: 30px;
          left: 5px;
          mask-size: contain;
          -webkit-mask-image: url(/assets/icons/user.svg);
          mask-image: url(/assets/icons/user.svg);
          background-color: $black;
          position: absolute;
        }
      }

      .text {
        font-family: "Red Hat Display";
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .pay-method {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .card-type {
          display: flex;
          gap: 25px;
          width: 110%;

          .type {
            width: 152px;
            height: 37px;
            border: none;
            background: $light-blue;
            border-radius: 8px;
            font-family: "Stacion", serif;
            font-size: 14px;
            font-weight: 400;
            color: $black;
            align-items: center;

            &:hover {
              cursor: pointer;
              background: $orange;
              color: $cream;
            }
          }
        }

        .card,
        .cash {
          height: 70px;
          width: 95%;
          border: none;
          background: $light-blue;
          border-radius: 8px;
          font-family: "Stacion", serif;
          font-size: 14px;
          font-weight: 400;
          color: $dark-blue;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: auto;

          &:hover {
            cursor: pointer;
            background: $orange;
            color: $cream;

            .card-icon,
            .cash-icon {
              background: $cream;
            }
          }
        }

        .card {
          .card-icon {
            width: 24px;
            height: 24px;
            -webkit-mask-image: url(/assets/icons/card.svg);
            mask-image: url(/assets/icons/card.svg);
            background-color: $dark-blue;
            mask-size: 100%;
            margin-top: 10px;
          }
        }

        .cash {
          .cash-icon {
            width: 24px;
            height: 24px;
            -webkit-mask-image: url(/assets/icons/wallet.svg);
            mask-image: url(/assets/icons/wallet.svg);
            background-color: $dark-blue;
            mask-size: 100%;
            margin-top: 10px;
          }
        }
      }

      .cancel {
        width: 251px;
        height: 47px;
        border: 2px solid $cream;
        background: transparent;
        border-radius: 14px;
        font-family: "Red Hat Display";
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: $cream;
        margin-top: 52px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .products {
      background-color: $dark-blue;
      border-radius: 12px;
      color: $cream;
      padding: 10px 10px;
      max-height: 450px;
      overflow-y: auto;
      overflow-x: hidden;

      @media (min-width: 1050px) {
        max-height: 520px;
      }

      .product {
        background: $white;
        margin: 10px auto;
        width: 100%;
        border-radius: 12px;
        padding-right: 18px;
      }
    }

    .checkout {
      background-color: $dark-blue;
      border-radius: 12px;
      color: $cream;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 10px;
      max-height: 450px;

      @media (min-width: 1050px) {
        max-height: 520px;
      }

      .cupon {
        display: inline-flex;
        align-items: center;

        .form-group {
          position: relative;
          width: 100%;

          .cupon-icon {
            background-image: url(/assets/icons/cupon_icon.svg);
            width: 30px;
            height: 30px;
            display: block;
            position: absolute;
            top: 4px;
          }
        }

        .cupon-code {
          width: 100%;
          height: 37px;
          border-radius: 5px;
          background: transparent;
          border: 1px solid $cream;
          padding: 11px 16px 11px 34px;
          margin: 0px 5px 0px 0px;
          color: white;

          &::placeholder {
            color: #fff;
          }
        }
      }

      .add-cupon-btn {
        width: 100px;
        height: 32px;
        border-radius: 8px;
        border: none;
        font-family: "Red Hat Display", serif;
        font-size: 16px;
        font-weight: 700;
        color: $dark-blue;
        background: $light-blue;
        margin-left: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .border-dashed {
      border: dashed 1px;
      border-style: dashed;
      border-bottom: 30px;
    }

    .total {
      display: flex;
      flex-direction: column;

      .amount {
        text-align: right;
        width: 40px;

        @media screen and (max-width: 1024px) {
          width: 33px;
        }
      }

      .btn_delete_cupon {
        background: $orange;
        color: $white;
        width: 80px;
        height: 30px;
        margin: 10px;
        border-radius: 30px;
        border: 1px solid $orange;

        &:hover {
          background: #e34317;
          cursor: pointer;
        }
      }

      table {
        font-family: "Red Hat Display", serif;
        font-size: 14px;

        td::nth-child(1) {
          width: 100px;
        }

        .btn-delete-cupon {
          background-color: $orange;
          color: $white;
          padding: 5px 10px;
          border-radius: 10px;
          border: 0px;
          margin: 0px 10px;

          &:hover {
            background: #e34317;
            cursor: pointer;
          }
        }
      }

      .sub-total {
        width: 240px;
      }

      .btn-payment {
        background: $orange;
        color: white;
        text-align: center;
        padding: 10px 0px;
        margin: 10px auto;
        border-radius: 10px;
        font-size: 18px;
        border: 0px;
        width: 80%;
        height: 47px;
        justify-content: center;

        &:disabled {
          opacity: 0.7;
        }

        &:hover {
          background: #e34317;
          cursor: pointer;
        }
      }
    }
  }
}

.decide-tip {
  display: flex;
  width: 50%;
}
