@import "../../index.scss";

.products_page {
    height: 100vh;
    overflow: hidden;
    background-color: $dark-blue;
    justify-content: center;
    align-items: flex-end;

    .categories {
        width: 984px;
        height: 560px;
        display: flex;
        align-content: center;
        margin: 100px auto;

        .options-container {
            display: flex;
            justify-content: center;
            padding-bottom: 45px;
        }
    }

    .banner {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}