@import "../../index.scss";

.products_page_category {
    overflow: hidden;
    background-color: $dark-blue;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;

    .categories {
        width: 880px;
        display: flex;
        flex-wrap: wrap;
        margin: 99px auto 0px auto;
        padding: 0px;
        overflow-y: auto;

        .options-container {
            display: flex;
            justify-content: center;
        }
    }
    .content-slider{
        width: 890px;
        margin: 10px auto;
        .banner {
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
    }
   
}