@import "../../index.scss";

.order_here_page {
    display: flex;
    flex-direction: column;
    padding-top: 35px;

    .imagotipo {
        display: flex;
        justify-content: center;

        .logo {
            width: 500px;
            margin-bottom: 30px;
            display: block;
            text-align: center;

            .isotipo {
                width: 125px;
                margin: 0 auto;
                display: block;
            }
        }
    }


    .btn-container {
        margin: 0 auto;
        text-align: center;
        .btn {
            width: 350px;
            height: 70px;
            border-radius: 51px;
            border: none;
            color: $white ;
            background: $orange;

            &:hover {
                cursor: pointer;
            }

            h2 {
                margin: 0px;
                font-size: 35px
            }
        }
    }

    .btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 90%;
        margin: 0px auto;

        .right {
            display: flex;
            gap: 13px;

            .lang {
                width: 100px;
                height: 85px;
                border-radius: 10px;
                border: 0px;
                font-family: "Stacion";

                &:hover {
                    cursor: pointer;
                }

                .es-icon {
                    margin: 10px auto;
                }

                .es,
                .en {
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    font-family: "Stacion";

                }

                .en-icon {
                    margin: 10px auto;

                }
            }

        }

        .left {
            .no-cash {
                width: 261px;
                height: 75px;
                display: flex;
                align-items: center;
                gap: 9px;
                cursor: pointer;
                background: $cream;
                border-radius: 10px;
                text-align: center;
                padding: 0 13px;

                .icon {
                    fill: $cream;
                }

                .text {
                    font-family: Stacion;
                    font-size: 16px;
                    font-weight: 400;
                    color: $dark-blue ;
                }
            }
        }
    }
}