@import "../../index.scss";

.order_here_page {
    // animation: changeColor 12s alternate infinite;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 165px;
    background: $dark-blue;

    .imagotipo {
        display: flex;
        flex-direction: column;
        width: 276px;
        height: 251px;
        margin: 0 auto;

        .isotipo {
            width: 100px;
            margin: 0 auto;
            height: 121px;
        }

        .logo {
            width: 276px;
            height: 80px;
            // animation: changeSvgColor 12s infinite ease-in-out;
            margin-bottom: 30px;
        }
    }


    .btn-container {
        margin: 0 auto;

        .btn {
            width: 523px;
            height: 102px;
            border-radius: 51px;
            border: none;
            color: $white ;
            background: $orange;
            cursor: pointer;

            h2 {
                font-size: 50px
            }
        }
    }

    .btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 70px;

        .right {
            display: flex;

            gap: 13px;

            .lang {
                width: 100px;
                height: 75px;
                background: $dark-blue;
                border-radius: 10px;
                cursor: pointer;

                .es-icon {
                    padding-top: 9px;
                    padding-left: 35px;
                }

                .es,
                .en {
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    font-family: "Stacion";
                    color: $cream ;

                }


                .en-icon {
                    padding-top: 9px;
                    padding-left: 35px;
                }


            }

        }

        .left {


            .no-cash {
                width: 261px;
                height: 75px;
                display: flex;
                align-items: center;
                gap: 9px;
                cursor: pointer;
                background: $cream;
                border-radius: 10px;
                text-align: center;
                padding: 0 13px;

                .icon {
                    fill: $cream;
                }

                .text {
                    font-family: Stacion;
                    font-size: 16px;
                    font-weight: 400;
                    color: $dark-blue ;
                }
            }
        }
    }
}