@import "../../index.scss";

.notfound {
    height: 100vh;

    .notfound-container {
        background: $dark-blue;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .notfound-center {
            width: 430px;

            .notfound-logo {
                width: 300px;
                display: block;
                margin: 40px auto;
            }

            .fail {
                width: 317px;
                height: 40px;
                text-align: center;
                font-size: 32px;
                display: block;
                margin: 30px auto;
                color: $white;

            }

            .wrong {
                width: 228px;
                height: 218px;

                position: relative;
                left: 100px;
                margin: 0 auto;
            }

            .notfound-text {
                width: 430px;
                height: 194px;
                font-size: 32px;
                text-align: center;
                margin: 30px auto;
                color: $white;



                .notfound-space {
                    margin-bottom: 30px;
                }

                .notfound-light-text {
                    font-weight: 300;
                }
            }
        }

        @media only screen and (max-width: 600px) {
            .notfound-center {
                width: 100%;

            }

        }

        @media only screen and (max-width: 430px) {
            .center {
                width: calc(100vw - 20px);
                /* Restamos 20px para tener en cuenta el espacio del scroll y los posibles márgenes */
                overflow-x: hidden;
                /* Ocultamos el desbordamiento horizontal */
                overflow-y: auto;
                /* Agregamos desplazamiento vertical si es necesario */
            }
        }

    }
}