@import "../../index.scss";

.options-component {
  width: 650px;
  margin: 15px auto;
  padding-top: 20px;

  .size {
    display: flex;
    margin: auto;
  }

  .options {
    display: flex;
    justify-content: flex-end;


    .option {
      width: 120px;
      height: 44px;
      margin: 10px;
      background: transparent;
      border: 1px solid $cream;
      border-radius: 5px;
      color: $cream;
      font-size: 16px;
      font-weight: 700;

      .extra-price {
        font-weight: 400;
      }

      &:hover {
        cursor: pointer;
        background: #fb4b05;
      }
    }

    .option-active {
      background: $orange;
      color: $white;
      margin: 10px;
      font-size: 16px;
      font-weight: 700;
      width: 120px;
      height: 44px;
      border: 1px solid $orange;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
        background: #fb4b05;
      }
    }
  }
}

.extra-options-list {
  width: 650px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 18px;
  color: $cream;

  img {
    margin: auto;
  }

  .options-container-list {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  .checkbox {
    width: 21px;
    height: 21px;
  }

  .extra {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
      width: 50px;
      font-family: "Red Hat Display", "serif";
    }
  }
}

.extra-list-options {
  max-width: 600px;
  margin: 20px auto;

  .list-content-options {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
}