* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
    font-family: 'Stacion';
    src: url('/assets/fonts/regular/Stacion-Regular.eot');
    src: url('/assets/fonts/regular/Stacion-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/regular/Stacion-Regular.woff2') format('woff2'),
        url('/assets/fonts/regular/Stacion-Regular.woff') format('woff'),
        url('/assets/fonts/regular/Stacion-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stacion';
    src: url('/assets/fonts/light/Stacion-Light.eot');
    src: url('/assets/fonts/light/Stacion-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/light/Stacion-Light.woff2') format('woff2'),
        url('/assets/fonts/light/Stacion-Light.woff') format('woff'),
        url('/assets/fonts/light/Stacion-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stacion';
    src: url('/assets/fonts/italic/Stacion-Italic.eot');
    src: url('/assets/fonts//italic/Stacion-Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/italic/Stacion-Italic.woff2') format('woff2'),
        url('/assets/fonts/italic/Stacion-Italic.woff') format('woff'),
        url('/assets/fonts/italic/Stacion-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


$white: #FFFFFF;
$cream: #EDEBDF;
$light-blue: #D5EAFB;
$dark-blue: #2E418E;
$dark-blue-hover: #2c46ad;
$red: #F3726C;
$light-grey: #9499A1;
$gray-text: #777672;
$completed: #79BF80;
$pending: #F2B45D;
$orange: #FF6010;
$orange_dark: #bf4a10;
$black: #212121;
$cell-shadow: #F4F4F4;
$green: #79BF80;
$yellow: #F2B45D;
$grey: #F4F4F4;

body {
    background: $light-blue;
}

.loader {
    margin: 0px 40px 0px 40px;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}


@keyframes l5 {
    0% {
        box-shadow: 20px 0 #edebdf, -20px 0 #edebdf;
        background: #edebdf
    }

    33% {
        box-shadow: 20px 0 #fcfbf55b, -20px 0 #fcfbf55b;
        background: #fcfbf55b
    }

    66% {
        box-shadow: 20px 0 #f6f4eeba, -20px 0 #f6f4eeba;
        background: #f6f4eeba
    }

    100% {
        box-shadow: 20px 0 #ddddbe, -20px 0 #ddddbe;
        background: #ddddbe
    }
}



h2,
h3 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
}

p {
    font-family: "Stacion", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

input {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
}


/* Estilo del scrollbar */
/* Ancho del scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Color del fondo del scrollbar */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Color del indicador del scrollbar */
::-webkit-scrollbar-thumb {
    height: 40px;
    background-color: #06074967;
}

/* Hover sobre el indicador del scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: #08093e67;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}


/* Style the custom checkbox */
.custom-checkbox {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 22px;
    height: 22px;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
    z-index: 7;
    cursor: pointer;
}

/* Style the checked state */
.custom-checkbox::after {
    content: '\2713';
    font-size: 16px;
    color: $orange;
    background: $orange;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 4px;

}

/* Show the checked state when the checkbox is checked */
input[type="checkbox"]:checked+.custom-checkbox::after {
    display: block;
}

/* Style the label */
.label-text {
    margin-left: 10px;
}


.opcion-radio-text {
    display: inline-block;
    position: relative;
    right: -12px;
}

.opcion-radio-text input {
    margin-right: 5px;
}

.opcion-radio-text input[type=radio] {
    position: absolute;
    opacity: 0;
}

.opcion-radio-text input[type=radio]+label:before {
    content: '';
    background: #F4F5F8;
    border-radius: 100%;
    border: 1px solid #a6aec6;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: -.2em;
    margin-right: .5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    display: inline-block;
    vertical-align: middle;
}

.opcion-radio-text label {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
}

.opcion-radio-text input[type=radio]:checked+label:before {
    width: 20px;
    height: 20px;
    background-color: $orange;
    box-shadow: inset 0 0 0 4px #F4F5F8;

}

.swiper-pagination-bullet-active {
    background: $orange !important;
    width: 40px !important;
    border-radius: 20% !important;
}

.swiper-pagination-bullet {
    background: #FFF;
    opacity: 1;
}