.swiper {
    width: 100%;
    height: 75%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 95px;
    object-fit: cover;
}